*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary:#9792e4;
    --secondary: #0084fd;
    --dark:#333333;
    --light:#ffffff;
    --txt:#fdc15f;
}

.container{
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

.flex{
    display: flex;
}

.row{
    flex-wrap: wrap;
}

.col_4{
    width: calc(100% / 12 * 4 );
}

.col_8{
    width: calc(100% / 12 * 8 );
}

.col_12{
    width: 100%;
}

/*Debug*/

#app_header{
    height: 3rem;
}

.logo, nav{
    border: 1px solid black;
    height: 3rem;
}

.col_12, .col_8, .col_4{
    height: 200px;
    border: 1px solid black;
}

.testimonials{
    height: 200px;
}

.image, .bio{
    border: 1px dashed red;
    height: 100px;
}

/*Responsive*/

@media screen and (min-width:768px) {
    .col_md_4{
        width: calc(100% / 12 * 4 );
    }
    
    .col_md_8{
        width: calc(100% / 12 * 8 );
    }

    .card .col_12{
        display: flex;
    }
    .image{
        width: 30%;
    }
    .bio{
        width: 70%;
    }
}

@media screen and (min-width:1200px) {
    .col_lg_6{
        width: calc(100% / 12 * 6);
    }
}

/*----Header----*/

#app_header{
    background-color: var(--secondary);
}

.logo, nav{
    width: 50%;
}


/*----Main----*/

/*Planning*/

.planning, .card{
    background-color: var(--primary);
}