*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

img{
    max-width: 100%;
}

:root{
    --primary:#9792e4;
    --secondary: #0084fd;
    --dark:#333333;
    --light:#ffffff;
    --demo: #b5ddff;
    --txt:#fdc15f;
}

.container{
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

.container-sm{
    width: 60%;
    max-width: 1152px;
    margin: auto;
}
section, 
.demo{
    padding: 3rem 0;
}

.no-dec{
    text-decoration: none;
}

.planning, 
.card, 
.benefits,
.call_to_action{
    background-color: var(--primary);
}

.flex{
    display: flex;
}

.row{
    flex-wrap: wrap;
}

.col_4{
    width: calc(100% / 12 * 4 );
}

.col_8{
    width: calc(100% / 12 * 8 );
}

.col_12{
    width: 100%;
}

.light{
    color: var(--light);
}
/*Debug*/
/*
#app_header{
    height: 3rem;
}

.logo, nav{
    border: 1px solid black;
    height: 3rem;
}

.demo .col_12, .col_8, .col_4{
    height: 200px;
    border: 1px solid black;
}

.image, .bio{
    border: 1px dashed red;
    height: 100px;
}

.about{
    height: 200px;
    border: 1px solid blue;
}

.call_to_action{
    height: 200px;
}

#app_footer{
    height: 200px;
}
*/
/* #region Responsive*/

@media screen and (min-width:768px) {
    .col_md_4{
        width: calc(100% / 12 * 4 - 1rem);
    }

    .col_md_6{
        width: calc(100% / 12 * 6 - 1rem);
    }

    .col_md_8{
        width: calc(100% / 12 * 8 - 1rem);
    }
    
    .card, .card-flex{
        margin-right: 1rem;
    }

    .card-box .item,
    .about .row{
        display: flex;
    }

    .testimonials .bio{
        width: 70%;
    }

    .card-box .item .bio{
        text-align: start;
    }

    .about .row .image{
        padding: 1rem 0 1rem 3rem ;
    }

}


@media screen and (min-width:1200px) {
    .col_lg_4{
        width: calc(100% / 12 * 4 - 1rem);
    }
    
    .col_lg_6{
        width: calc(100% / 12 * 6 - 1rem);
    }

    .box{
        width: 30%;
        margin-left: 1rem;
        margin-top: 15rem;
    }

    .box img{
        width: 200px;
    }
    
    .card-flex {
        display: flex;
    }

    .image{
        width: 40%;
    }

    .text{
        width: 60%;
    }

    .about .col_12 .image{
        width: 100%;
    }
}
/* #endregion Responsive*/


/*---- Header----*/
/*#region*/
#app_header{
    background-color: var(--secondary);
    padding: 0.7rem 0;
}

#app_header .container{
    justify-content:space-between;
}

nav i{
    color: var(--light);
} 
/*#endregion*/


/*----Main----*/

/* #region Demo*/

.demo .card, .card-flex{
    background-color: var(--demo);
    padding: 2rem 2rem 0 2rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.bio h3{
    color: var(--secondary);
    margin-bottom: 1rem;
}

.demo button{
    margin: 1rem 0;
    padding: 0.5rem 3rem;
    background-color: var(--secondary);
    border: none;
    border-radius: 20px;
}

.text i, strong{
    color: var(--light);
}

.demo .card{
    text-align: center;
}

.card-flex .text h3,
.card .img i,
.card .img h3{
    color: var(--secondary);
    padding: 0.5rem 0;
}

.card .info{
    padding-bottom: 2rem;
}
/* #endregion Demo*/


/*#region Planning*/
.planning h3, p{
    padding: 1rem 0;
}

.planning .box{
    background-color: var(--light);
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
}

.planning .box h3, span{
    color: black;
}

.arrow{
    display: block;
    text-align: center;
    padding-top: 1rem;
}

.box .arrow i{
    background-color: var(--primary);
    color: black;
    width: 40px;
    height: 40px;
    padding: 0.7rem 0;

    border-radius: 50%;
}
/*#endregion Planning*/


/*#region Testimonials*/

.testimonials .testimonial_heading{
    text-align: center;
}

.testimonial_heading span{
    text-transform: uppercase;
}

.testimonial_heading h2{
    color: var(--primary);
    padding: 1rem 0;
}

.testimonial_heading p{
    line-height: 1.5rem;
}

.testimonials .item{
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--primary);
    border-radius: 20px;
}

.testimonials .item .image, 
.testimonials .item .image .bio{
    text-align: center;
}

.testimonials .card-box .image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.testimonials .card-box .bio span{
    color:var(--light);
    text-transform: uppercase;
    padding-left: 1rem;
}
/*#endregion Testimonials*/


/*#region Benefits*/

.benefits .container h2{
    text-align:  center;
    padding: 2rem 0;
}

.benefits .container .card{
    background-color: var(--light);
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 1rem;
}

.benefits .container .card .number{
   font-size: 3rem;
   margin-bottom: 1rem;
}


.benefits .container .card .number, h3{
    color: var(--primary);
}

.benefits .container .card button{
    background-color: var(--primary);
    border: none;
    border-radius: 20px;
    padding: 0.7rem 2.5rem;
}
/*#endregion Benefits*/

/*#region About*/

.about .bio h3{
    font-size: 3rem;
    font-weight: 300;
    color: var(--primary);
}

.about .bio p{
    font-size: 14px;
    line-height: 2rem;
}

.about .col_12 .image img{
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
    border-radius: 50%;
    background-color: red;
}

.about .col_12 .image h6{
    color: var(--primary);
    font-size: 22px;
}

.about .col_12 .image button{
    background-color: var(--primary);
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    border-radius: 20px;
    border: none;
    font-size: 12px;
}

.about .col_12 .image button i, 
.about .col_12 .image button a{
    color: var(--light);
}
/*#endregion About*/

/*#region Call_to_action*/

.call_to_action{
    text-align: center;
    line-height: 2rem;
}

.call_to_action .call_top span{
    text-transform: uppercase;
    color: #eeeeee6b;
}

.call_to_action .call_top h3{
    font-size: 26px;
    padding: 1rem 0;
}

.call_to_action .call_top #txt-special{
    color: var(--txt);
    font-size: 50px;
    padding: 2rem 0;
}

.call_to_action .call_bottom{ 
    padding: 0 2rem;
} 

.call_to_action .call_bottom button{
    display: block;
    padding: 1.2rem 5rem;
    border: none;
    border-radius: 50px;
    margin: auto;
}

.call_to_action .call_bottom button a{
    color: var(--primary);
    font-weight: bolder;
}

.call_to_action .call_bottom span{
    font-size: 12px;
}

.call_to_action .call_bottom span i{
    font-size: 5px;
    margin: 0 3px;
    vertical-align: middle;
}

/*#endregion Call_to_action*/

/*----Footer----*/

#app_footer{
    background-color: var(--dark);
    text-align: center;
}

#app_footer .container-sm p{
    font-size: 12px;
    padding: 1.5rem 5rem;
}

#app_footer .container-sm a{
    color: var(--primary);
}