*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

img{
    max-width: 100%;
}

:root{
    --primary:#9792e4;
    --secondary: #0084fd;
    --dark:#333333;
    --light:#ffffff;
    --txt:#fdc15f;
}

.container{
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

section, 
.demo{
    padding: 3rem 0;
}
.planning, 
.card, 
.benefits,
.call_to_action{
    background-color: var(--primary);
}

.flex{
    display: flex;
}

.row{
    flex-wrap: wrap;
}

.col_4{
    width: calc(100% / 12 * 4 );
}

.col_8{
    width: calc(100% / 12 * 8 );
}

.col_12{
    width: 100%;
}

/*Debug*/
/*
#app_header{
    height: 3rem;
}

.logo, nav{
    border: 1px solid black;
    height: 3rem;
}
*/
.demo .col_12, .col_8, .col_4{
    height: 200px;
    border: 1px solid black;
}

.image, .bio{
    border: 1px dashed red;
    height: 100px;
}

.about{
    height: 200px;
    border: 1px solid blue;
}

.call_to_action{
    height: 200px;
}

#app_footer{
    height: 200px;
}

/*Responsive*/

@media screen and (min-width:768px) {
    .col_md_4{
        width: calc(100% / 12 * 4 );
    }
    .col_md_6{
        width: calc(100% / 12 * 6);
    }
    .col_md_8{
        width: calc(100% / 12 * 8 );
    }

    .card .col_12,
    .about .col_12{
        display: flex;
    }
    .image{
        width: 30%;
    }
    .bio{
        width: 70%;
    }
}

@media screen and (min-width:1200px) {
    .col_lg_4{
        width: calc(100% / 12 * 4 );
    }
    
    .col_lg_6{
        width: calc(100% / 12 * 6);
    }

}

/*----Header----*/

#app_header{
    background-color: var(--secondary);
    padding: 0.7rem 0;
}

#app_header .container{
    justify-content:space-between;
}

nav i{
    color: var(--light);
} 
/*----Main----*/



/*----Footer----*/

#app_footer{
    background-color: var(--dark);
}